@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background: rgb(255, 94, 0);
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: black;
    min-height: 10vh;
    padding: 30px 20px;
    text-align: left;
}

h1 {
    color: white;
    text-align: left;
}

.box2 {
    color: whitesmoke;
}