@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: black;
    height: 20vh;
    padding: 30px 20px;
}

h1 {
    color: white;
    text-align: left;
}

.box1 {
    background: rgb(255, 94, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(237, 236, 243);
    height: 250vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 25px;
    padding: 30px 50px 30px 50px;
}

h4 {
    font-size: 50px;
}

.box2 {
    background-color: cornsilk;
    color: rgb(13, 2, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 30px;
    padding: 30px 50px 30px 50px;
}

.link2 {
    color: orangered;
}

.im1 {
    width: 70vh;
    height: auto;
}

.footer {
    height: 20vh;
}